<launch>


	<!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find delivery_platform)/launch/one_robot.launch" >
      <arg name="x_pos" value="1" />
      <arg name="y_pos" value="1" />
      <arg name="z_pos" value="0" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find delivery_platform)/launch/one_robot.launch" >
      <arg name="x_pos" value="-1" />
      <arg name="y_pos" value="-1" />
      <arg name="z_pos" value="0" />
    </include>
  </group>
	
	

</launch>
